{% extends "padre.html" %}

{% block content %}
  <h2>Detalle de Silla</h2>
  <p><strong>Tipo:</strong> {{ mesa.tipo }}</p>
  <p><strong>Color:</strong> {{ mesa.color }}</p>
  <p><strong>Apoya Brazos:</strong> {{ mesa.apoya_brazos }}</p>
  <p><strong>Fecha:</strong> {{ mesa.fecha }}</p>
  <p>
    <a href="{% url 'silla-lista' %}">Volver al listado</a>
    <a href="{% url 'silla-actualizar' silla.pk %}">Editar</a>
    <a href="{% url 'silla-borrar' silla.pk %}">Eliminar</a>
  </p>
{% endblock %}

