<!-- templates/mi_primer_app/silla_detalle.html -->
{% extends "padre.html" %}

{% block content %}
  <h1>Detalles de la Silla: {{ silla.nombre }}</h1>

  <p><strong>Subtítulo:</strong> {{ silla.subtitulo }}</p>
  <p><strong>Contenido:</strong> {{ silla.contenido|safe }}</p>
  <p><strong>Fecha de publicación:</strong> {{ silla.fecha }}</p>

  <div>
    <strong>Imagen destacada:</strong><br>
    <img src="{{ silla.imagen.url }}" alt="Imagen de {{ silla.nombre }}" style="max-width:400px;">
  </div>
{% endblock %}