<!-- templates/mi_primer_app/sofa_list.html -->
{% extends "padre.html" %}

{% block content %}
  <section id="sofas-lista">
    <h2>Lista de Sofás</h2>
    <p><a href="{% url 'sofa-crear' %}">Crear nuevo sofá</a></p>
    <ul>
      {% for sofa in sofas %}
        <li>
          {{ sofa.nombre }}
          <a href="{% url 'sofa-detalle' sofa.pk %}">Ver Detalle</a>
          <a href="{% url 'sofa-actualizar' sofa.pk %}">Editar</a>
          <a href="{% url 'sofa-borrar' sofa.pk %}">Eliminar</a>
        </li>
      {% empty %}
        <li>No hay sofás disponibles.</li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}